module/Protocol/data/RelaxNG/InventoryRequest.rng

<?xml version="1.0" encoding="UTF-8" ?>
<!--
RELAX NG schema for inventory requests and general inventory exchange

Copyright (C) 2011-2015 Holger Schletz <holger.schletz@web.de>

This program is free software; you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the Free
Software Foundation; either version 2 of the License, or (at your option)
any later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
more details.

You should have received a copy of the GNU General Public License along with
this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->
<!--
This schema defines the XML documents generated by OCS Inventory Agents and
Braintacle's export function. These documents contain all inventory data for a
computer and are suitable for all kinds of inventory data exchange, including
import/export.
The definition is different from the DTD that ships with OCS Inventory. The DTD
is outdated and lacks definitions for many elements that are used by modern
agents. This schema aims to be a complete definition for all types of inventory
data to be found in the wild.
Some definitions may be more strict than necessary, i.e. many optional elements
are defined to be mandatory. There is no official documentation for this except
for the incomplete DTD. In theory, most elements could be marked optional, but
that would unnecessarily mess up the schema where the affected elements are
effectively always present in the wild. Too strict definitions will be loosened
in the future where necessary.
The 'braintacle' namespace defines additional attributes which are evaluated by
Braintacle:
- braintacle:model is used for elements below 'CONTENT'. It is the name of a
  model class (without 'Model_' prefix) that handles the data represented by the
  element. It is used as a default for entire inventory sections and can be
  overridden for particular child elements if the data is handled by a different
  model than the rest of the section. If this attribute is not present for a
  section, it is not used by Braintacle.
- braintacle:property is used by child elements (or references) within the
  elements having a braintacle:model attribute. It is the name of the property
  that the model class uses to represent the data. If it is not present, the
  element is not used by Braintacle.
- braintacle:format defines the format of date/timestamp fields generated by
  agents and used for export, using ISO 8601 format strings.
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:braintacle="https://github.com/hschletz/Braintacle">
    <start>
        <!-- Root element -->
        <element name="REQUEST">
            <interleave>
                <!-- Main inventory section. -->
                <element name="CONTENT">
                    <interleave>
                        <zeroOrMore>
                            <ref name="ACCESSLOG" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="ACCOUNTINFO" />
                        </zeroOrMore>
                        <optional>
                            <ref name="BIOS" /><!-- May be missing if all empty -->
                        </optional>
                        <zeroOrMore>
                            <ref name="CONTROLLERS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="CPUS" />
                        </zeroOrMore>
                        <optional>
                            <ref name="DOWNLOAD" />
                        </optional>
                        <zeroOrMore>
                            <ref name="DRIVES" />
                        </zeroOrMore>
                            <ref name="HARDWARE" /><!-- Basic stuff, always present -->
                        <zeroOrMore>
                            <ref name="INPUTS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="MEMORIES" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="MODEMS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="MONITORS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="NETWORKS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="OFFICEPACK" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="PORTS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="PRINTERS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="PROCESSES" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="REGISTRY" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="SLOTS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="SOFTWARES" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="SOUNDS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="STORAGES" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="USERS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="VIDEOS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="VIRTUALMACHINES" />
                        </zeroOrMore>
                    </interleave>
                </element>
                <!-- Additional elements -->
                <element name="DEVICEID">
                    <text />
                </element>
                <element name="QUERY">
                    <text />
                </element>
            </interleave>
        </element>
    </start>

   <!-- Inventory sections -->
    <define name="ACCESSLOG">
        <element name="ACCESSLOG"><!-- obsolete -->
            <interleave>
                <ref name="LOGDATE" />
                <ref name="USERID" />
            </interleave>
        </element>
    </define>
    <define name="ACCOUNTINFO">
        <element name="ACCOUNTINFO" braintacle:model="UserDefinedInfo">
            <interleave>
                <ref name="KEYNAME" />
                <ref name="KEYVALUE" />
            </interleave>
        </element>
    </define>
    <define name="BIOS">
        <element name="BIOS" braintacle:model="Computer">
            <interleave>
                <optional>
                    <ref name="ASSETTAG" braintacle:property="AssetTag" />
                </optional>
                <optional>
                    <ref name="BDATE" braintacle:property="BiosDate" />
                </optional>
                <optional>
                    <ref name="BMANUFACTURER" braintacle:property="BiosManufacturer" />
                </optional>
                <ref name="BVERSION" braintacle:property="BiosVersion" />
                <optional>
                    <ref name="SMANUFACTURER" braintacle:property="Manufacturer" />
                </optional>
                <optional>
                    <ref name="SMODEL" braintacle:property="Model" />
                </optional>
                <optional>
                    <ref name="SSN" braintacle:property="Serial" />
                </optional>
                <optional>
                    <ref name="TYPE" braintacle:property="Type" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="CONTROLLERS">
        <element name="CONTROLLERS" braintacle:model="Controller">
            <interleave>
                <optional>
                    <ref name="CAPTION" braintacle:property="RawCaption" />
                </optional>
                <optional>
                    <ref name="DESCRIPTION" braintacle:property="Comment" />
                </optional>
                <optional>
                    <ref name="DRIVER" /><!-- not available in database -->
                </optional>
                <ref name="MANUFACTURER" braintacle:property="Manufacturer" />
                <ref name="NAME" braintacle:property="Name" />
                <optional>
                    <ref name="PCIID" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="PCISLOT" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="TYPE" braintacle:property="Type" />
                </optional>
                <optional>
                    <ref name="VERSION" braintacle:property="DriverVersion" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="CPUS">
        <element name="CPUS"><!-- not available in database -->
            <interleave>
                <ref name="MANUFACTURER" />
                <ref name="SERIAL" />
                <ref name="SPEED" />
                <ref name="TYPE" />
            </interleave>
        </element>
    </define>
    <define name="DOWNLOAD">
        <element name="DOWNLOAD" braintacle:model="Computer">
            <element name="HISTORY">
                <zeroOrMore>
                    <element name="PACKAGE">
                        <attribute name="ID" />
                    </element>
                </zeroOrMore>
            </element>
        </element>
    </define>
    <define name="DRIVES">
        <element name="DRIVES" braintacle:model="Filesystem">
            <interleave>
                <optional>
                    <ref name="CREATEDATE" braintacle:property="CreationDate" braintacle:format="yyyy/M/d HH:mm:ss" />
                </optional>
                <optional>
                    <ref name="FILESYSTEM" braintacle:property="Filesystem" />
                </optional>
                <optional>
                    <ref name="FREE" braintacle:property="FreeSpace" />
                </optional>
                <optional>
                    <ref name="LABEL" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="LETTER" braintacle:property="Letter" />
                </optional>
                <optional>
                    <ref name="NUMFILES" /><!-- obsolete -->
                </optional>
                <optional>
                    <ref name="SERIAL" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="TOTAL" braintacle:property="Size" />
                </optional>
                <optional>
                    <ref name="TYPE" braintacle:property="Type" />
                </optional>
                <optional>
                    <ref name="VOLUMN" braintacle:property="Device" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="HARDWARE">
        <element name="HARDWARE" braintacle:model="Computer">
            <interleave>
                <optional>
                    <ref name="ARCH" />
                </optional>
                <optional>
                    <ref name="ARCHNAME" /><!-- not available in database -->
                </optional>
                <ref name="CHECKSUM" braintacle:property="InventoryDiff" />
                <optional>
                    <ref name="DATELASTLOGGEDUSER" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="DEFAULTGATEWAY" braintacle:property="DefaultGateway" />
                </optional>
                <optional>
                    <ref name="DESCRIPTION" braintacle:property="OsComment" />
                </optional>
                <optional>
                    <ref name="DNS" braintacle:property="DnsServer" />
                </optional>
                <optional>
                    <ref name="ETIME" /><!-- obsolete -->
                </optional>
                <ref name="IPADDR" braintacle:property="IpAddress" />
                <optional>
                    <ref name="LASTCOME" braintacle:property="LastContactDate" braintacle:format="yyyy-MM-dd HH:mm:ss" />
                </optional>
                <optional>
                    <ref name="LASTDATE" braintacle:property="InventoryDate" braintacle:format="yyyy-MM-dd HH:mm:ss" />
                </optional>
                <optional>
                    <ref name="LASTLOGGEDUSER" /><!-- not available in database -->
                </optional>
                <ref name="MEMORY" braintacle:property="PhysicalMemory" />
                <ref name="NAME" braintacle:property="Name" />
                <optional>
                    <ref name="OSCOMMENTS" braintacle:property="OsVersionString" />
                </optional>
                <ref name="OSNAME" braintacle:property="OsName" />
                <ref name="OSVERSION" braintacle:property="OsVersionNumber" />
                <ref name="PROCESSORN" braintacle:property="CpuCores" />
                <ref name="PROCESSORS" braintacle:property="CpuClock" />
                <ref name="PROCESSORT" braintacle:property="CpuType" />
                <ref name="SWAP" braintacle:property="SwapMemory" />
                <optional>
                    <ref name="TYPE" /><!-- Useless, always 0 or NULL. Omitted for possible confusion with bios.type. -->
                </optional>
                <optional>
                    <ref name="USERDOMAIN" braintacle:model="Windows" braintacle:property="UserDomain" />
                </optional>
                <optional>
                    <ref name="USERID" braintacle:property="UserName" />
                </optional>
                <optional>
                    <ref name="UUID" braintacle:property="Uuid" />
                </optional>
                <optional>
                    <ref name="VMSYSTEM" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="WINCOMPANY" braintacle:model="Windows" braintacle:property="Company" />
                </optional>
                <optional>
                    <ref name="WINOWNER" braintacle:model="Windows" braintacle:property="Owner" />
                </optional>
                <optional>
                    <ref name="WINPRODID" braintacle:model="Windows" braintacle:property="ProductId" />
                </optional>
                <optional>
                    <ref name="WINPRODKEY" braintacle:model="Windows" braintacle:property="ProductKey" />
                </optional>
                <ref name="WORKGROUP" braintacle:property="Workgroup" />
            </interleave>
        </element>
    </define>
    <define name="INPUTS">
        <element name="INPUTS" braintacle:model="InputDevice">
            <interleave>
                <optional>
                    <ref name="CAPTION" braintacle:property="Description" />
                </optional>
                <optional>
                    <ref name="DESCRIPTION" braintacle:property="Comment" />
                </optional>
                <optional>
                    <ref name="INTERFACE" braintacle:property="Interface" />
                </optional>
                <optional>
                    <ref name="MANUFACTURER" braintacle:property="Manufacturer" />
                </optional>
                <optional>
                    <ref name="POINTTYPE" braintacle:property="RawPointType" />
                </optional>
                <ref name="TYPE" braintacle:property="Type" />
            </interleave>
        </element>
    </define>
    <define name="MEMORIES">
        <element name="MEMORIES" braintacle:model="MemorySlot">
            <interleave>
                <optional>
                    <ref name="CAPACITY" braintacle:property="Size" />
                </optional>
                <ref name="CAPTION" braintacle:property="Caption" />
                <optional>
                    <ref name="DESCRIPTION" braintacle:property="Description" />
                </optional>
                <ref name="NUMSLOTS" braintacle:property="SlotNumber" />
                <optional>
                    <ref name="PURPOSE" braintacle:property="Purpose" />
                </optional>
                <optional>
                    <ref name="SERIALNUMBER" braintacle:property="Serial" />
                </optional>
                <optional>
                    <ref name="SPEED" braintacle:property="Clock" />
                </optional>
                <ref name="TYPE" braintacle:property="Type" />
            </interleave>
        </element>
    </define>
    <define name="MODEMS">
        <element name="MODEMS" braintacle:model="Modem">
            <interleave>
                <ref name="NAME" braintacle:property="Name" />
                <ref name="TYPE" braintacle:property="Type" />
                <optional>
                    <ref name="DESCRIPTION" /><!-- unused -->
                </optional>
                <optional>
                    <ref name="MODEL" /><!-- unused -->
                </optional>
            </interleave>
        </element>
    </define>
    <define name="MONITORS">
        <element name="MONITORS" braintacle:model="Display">
            <interleave>
                <optional>
                    <ref name="BASE64" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="CAPTION" braintacle:property="Description" />
                </optional>
                <optional>
                    <ref name="DESCRIPTION" braintacle:property="ProductionDate" />
                </optional>
                <optional>
                    <ref name="MANUFACTURER" braintacle:property="Manufacturer" />
                </optional>
                <optional>
                    <ref name="SERIAL" braintacle:property="Serial" />
                </optional>
                <optional>
                    <ref name="TYPE" braintacle:property="Type" />
                </optional>
                <optional>
                    <ref name="UUENCODE" /><!-- not available in database -->
                </optional>
            </interleave>
        </element>
    </define>
    <define name="NETWORKS">
        <element name="NETWORKS" braintacle:model="NetworkInterface">
            <interleave>
                <ref name="DESCRIPTION" braintacle:property="Description" />
                <optional>
                    <ref name="DRIVER" /><!-- not available in database -->
                </optional>
                <ref name="IPADDRESS" braintacle:property="IpAddress" />
                <optional>
                    <ref name="IPDHCP" braintacle:property="DhcpServer" />
                </optional>
                <optional>
                    <ref name="IPGATEWAY" braintacle:property="Gateway" />
                </optional>
                <ref name="IPMASK" braintacle:property="Netmask" />
                <optional>
                    <ref name="IPSUBNET" braintacle:property="Subnet" />
                </optional>
                <ref name="MACADDR" braintacle:property="MacAddress" />
                <optional>
                    <ref name="PCISLOT" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="SPEED" braintacle:property="Rate" />
                </optional>
                <ref name="STATUS" braintacle:property="Status" />
                <ref name="TYPE" braintacle:property="RawType" />
                <optional>
                    <ref name="TYPEMIB" braintacle:property="RawTypeMib" />
                </optional>
                <optional>
                    <ref name="VIRTUALDEV" braintacle:property="Virtual" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="OFFICEPACK">
        <element name="OFFICEPACK" braintacle:model="MsOfficeProduct">
            <interleave>
                <optional>
                    <ref name="GUID" braintacle:property="Guid" />
                </optional>
                <ref name="INSTALL" braintacle:property="Type" />
                <optional>
                    <ref name="NOTE" braintacle:property="ExtraDescription" />
                </optional>
                <optional>
                    <ref name="OFFICEKEY" braintacle:property="ProductKey" />
                </optional>
                <ref name="OFFICEVERSION" braintacle:property="Version" />
                <ref name="PRODUCT" braintacle:property="Name" />
                <optional>
                    <ref name="PRODUCTID" braintacle:property="ProductId" />
                </optional>
                <ref name="TYPE" braintacle:property="Architecture" />
            </interleave>
        </element>
    </define>
    <define name="PORTS">
        <element name="PORTS" braintacle:model="Port">
            <interleave>
                <optional>
                    <ref name="CAPTION" braintacle:property="Connector" />
                </optional>
                <optional>
                    <ref name="DESCRIPTION" braintacle:property="RawDescription" />
                </optional>
                <optional>
                    <ref name="NAME" braintacle:property="Name" />
                </optional>
                <optional>
                    <ref name="TYPE" braintacle:property="Type" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="PRINTERS">
        <element name="PRINTERS" braintacle:model="Printer">
            <interleave>
                <optional>
                    <ref name="DESCRIPTION" braintacle:property="Description" />
                </optional>
                <optional>
                    <ref name="DRIVER" braintacle:property="Driver" />
                </optional>
                <ref name="NAME" braintacle:property="Name" />
                <optional>
                    <ref name="PORT" braintacle:property="Port" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="PROCESSES">
        <element name="PROCESSES"><!-- not available in database -->
            <interleave>
                <ref name="CMD" />
                <ref name="CPUUSAGE" />
                <ref name="MEM" />
                <ref name="PID" />
                <ref name="STARTED" />
                <ref name="TTY" />
                <ref name="USER" />
                <ref name="VIRTUALMEMORY" />
            </interleave>
        </element>
    </define>
    <define name="REGISTRY">
        <element name="REGISTRY" braintacle:model="RegistryData">
            <interleave>
                <ref name="NAME" braintacle:property="Value" />
                <ref name="REGVALUE" braintacle:property="Data" />
            </interleave>
        </element>
    </define>
    <define name="SLOTS">
        <element name="SLOTS" braintacle:model="ExtensionSlot">
            <interleave>
                <ref name="DESCRIPTION" braintacle:property="Description" />
                <optional>
                    <ref name="DESIGNATION" braintacle:property="Name" />
                </optional>
                <ref name="NAME" braintacle:property="Type" />
                <optional>
                    <ref name="PSHARE" /><!-- obsolete -->
                </optional>
                <optional>
                    <ref name="PURPOSE" braintacle:property="RawPurpose" />
                </optional>
                <optional>
                    <ref name="STATUS" braintacle:property="Status" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="SOFTWARES">
        <element name="SOFTWARES" braintacle:model="Software">
            <interleave>
                <optional>
                    <ref name="BITSWIDTH" braintacle:property="Architecture" />
                </optional>
                <optional>
                    <ref name="COMMENTS" braintacle:property="Comment" />
                </optional>
                <optional>
                    <ref name="FILENAME" braintacle:property="RawFilename" />
                </optional>
                <optional>
                    <ref name="FILESIZE" braintacle:property="Size" />
                </optional>
                <optional>
                    <ref name="FOLDER" braintacle:property="InstallLocation" />
                </optional>
                <optional>
                    <ref name="FROM" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="GUID" braintacle:property="Guid" />
                </optional>
                <optional>
                    <ref name="INSTALLDATE" braintacle:property="InstallationDate" braintacle:format="yyyy/MM/dd" />
                </optional>
                <optional>
                    <ref name="LANGUAGE" braintacle:property="Language" />
                </optional>
                <optional>
                    <ref name="NAME" braintacle:property="Name" />
                </optional>
                <optional>
                    <ref name="PUBLISHER" braintacle:property="Publisher" />
                </optional>
                <optional>
                    <ref name="SOURCE" braintacle:property="RawSource" />
                </optional>
                <optional>
                    <ref name="VERSION" braintacle:property="Version" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="SOUNDS">
        <element name="SOUNDS" braintacle:model="AudioDevice">
            <interleave>
                <optional>
                    <ref name="DESCRIPTION" braintacle:property="Description" />
                </optional>
                <ref name="MANUFACTURER" braintacle:property="Manufacturer" />
                <ref name="NAME" braintacle:property="Name" />
            </interleave>
        </element>
    </define>
    <define name="STORAGES">
        <element name="STORAGES" braintacle:model="StorageDevice">
            <interleave>
                <optional>
                    <ref name="DESCRIPTION" />
                </optional>
                <optional>
                    <ref name="DISKSIZE" braintacle:property="Size" />
                </optional>
                <optional>
                    <ref name="FIRMWARE" braintacle:property="Firmware" />
                </optional>
                <optional>
                    <ref name="MANUFACTURER" />
                </optional>
                <optional>
                    <ref name="MODEL" />
                </optional>
                <optional>
                    <ref name="NAME" />
                </optional>
                <optional>
                    <ref name="SCSI_CHID" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="SCSI_COID" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="SCSI_LUN" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="SCSI_UNID" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="SERIALNUMBER" braintacle:property="Serial" />
                </optional>
                <optional>
                    <ref name="TYPE" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="USERS">
        <element name="USERS"><!-- not available in database -->
            <ref name="LOGIN" />
        </element>
    </define>
    <define name="VIDEOS">
        <element name="VIDEOS" braintacle:model="DisplayController">
            <interleave>
                <optional>
                    <ref name="CHIPSET" braintacle:property="Chipset" />
                </optional>
                <optional>
                    <ref name="MEMORY" braintacle:property="Memory" />
                </optional>
                <ref name="NAME" braintacle:property="Name" />
                <optional>
                    <ref name="RESOLUTION" braintacle:property="CurrentResolution" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="VIRTUALMACHINES">
        <element name="VIRTUALMACHINES" braintacle:model="VirtualMachine">
            <interleave>
                <optional>
                    <ref name="MEMORY" braintacle:property="GuestMemory" />
                </optional>
                <ref name="NAME" braintacle:property="Name" />
                <ref name="STATUS" braintacle:property="Status" />
                <ref name="SUBSYSTEM" braintacle:property="Product" />
                <ref name="UUID" braintacle:property="Uuid" />
                <ref name="VCPU" braintacle:property="NumCpus" />
                <optional>
                    <ref name="VMID" /><!-- not available in database -->
                </optional>
                <ref name="VMTYPE" braintacle:property="Type" />
            </interleave>
        </element>
    </define>

   <!-- Text elements -->
    <define name="ARCH">
        <element name="ARCH">
            <text />
        </element>
    </define>
    <define name="ARCHNAME">
        <element name="ARCHNAME">
            <text />
        </element>
    </define>
    <define name="ASSETTAG">
        <element name="ASSETTAG">
            <text />
        </element>
    </define>
    <define name="BASE64">
        <element name="BASE64">
            <text />
        </element>
    </define>
    <define name="BDATE">
        <element name="BDATE">
            <text />
        </element>
    </define>
    <define name="BITSWIDTH">
        <element name="BITSWIDTH">
            <text />
        </element>
    </define>
    <define name="BMANUFACTURER">
        <element name="BMANUFACTURER">
            <text />
        </element>
    </define>
    <define name="BVERSION">
        <element name="BVERSION">
            <text />
        </element>
    </define>
    <define name="CAPACITY">
        <element name="CAPACITY">
            <text />
        </element>
    </define>
    <define name="CAPTION">
        <element name="CAPTION">
            <text />
        </element>
    </define>
    <define name="CHECKSUM">
        <element name="CHECKSUM">
            <text />
        </element>
    </define>
    <define name="CHIPSET">
        <element name="CHIPSET">
            <text />
        </element>
    </define>
    <define name="CMD">
        <element name="CMD">
            <text />
        </element>
    </define>
    <define name="COMMENTS">
        <element name="COMMENTS">
            <text />
        </element>
    </define>
    <define name="CPUUSAGE">
        <element name="CPUUSAGE">
            <text />
        </element>
    </define>
    <define name="CREATEDATE">
        <element name="CREATEDATE">
            <text />
        </element>
    </define>
    <define name="DATELASTLOGGEDUSER">
        <element name="DATELASTLOGGEDUSER">
            <text />
        </element>
    </define>
    <define name="DEFAULTGATEWAY">
        <element name="DEFAULTGATEWAY">
            <text />
        </element>
    </define>
    <define name="DESCRIPTION">
        <element name="DESCRIPTION">
            <text />
        </element>
    </define>
    <define name="DESIGNATION">
        <element name="DESIGNATION">
            <text />
        </element>
    </define>
    <define name="DISKSIZE">
        <element name="DISKSIZE">
            <text />
        </element>
    </define>
    <define name="DNS">
        <element name="DNS">
            <text />
        </element>
    </define>
    <define name="DRIVER">
        <element name="DRIVER">
            <text />
        </element>
    </define>
    <define name="ETIME">
        <element name="ETIME">
            <text />
        </element>
    </define>
    <define name="FILENAME">
        <element name="FILENAME">
            <text />
        </element>
    </define>
    <define name="FILESIZE">
        <element name="FILESIZE">
            <text />
        </element>
    </define>
    <define name="FILESYSTEM">
        <element name="FILESYSTEM">
            <text />
        </element>
    </define>
    <define name="FIRMWARE">
        <element name="FIRMWARE">
            <text />
        </element>
    </define>
    <define name="FOLDER">
        <element name="FOLDER">
            <text />
        </element>
    </define>
    <define name="FREE">
        <element name="FREE">
            <text />
        </element>
    </define>
    <define name="FROM">
        <element name="FROM">
            <text />
        </element>
    </define>
    <define name="GUID">
        <element name="GUID">
            <text />
        </element>
    </define>
    <define name="INSTALL">
        <element name="INSTALL">
            <text />
        </element>
    </define>
    <define name="INSTALLDATE">
        <element name="INSTALLDATE">
            <text />
        </element>
    </define>
    <define name="INTERFACE">
        <element name="INTERFACE">
            <text />
        </element>
    </define>
    <define name="IPADDR">
        <element name="IPADDR">
            <text />
        </element>
    </define>
    <define name="IPADDRESS">
        <element name="IPADDRESS">
            <text />
        </element>
    </define>
    <define name="IPDHCP">
        <element name="IPDHCP">
            <text />
        </element>
    </define>
    <define name="IPGATEWAY">
        <element name="IPGATEWAY">
            <text />
        </element>
    </define>
    <define name="IPMASK">
        <element name="IPMASK">
            <text />
        </element>
    </define>
    <define name="IPSUBNET">
        <element name="IPSUBNET">
            <text />
        </element>
    </define>
    <define name="KEYNAME">
        <element name="KEYNAME">
            <text />
        </element>
    </define>
    <define name="KEYVALUE">
        <element name="KEYVALUE">
            <text />
        </element>
    </define>
    <define name="LABEL">
        <element name="LABEL">
            <text />
        </element>
    </define>
    <define name="LANGUAGE">
        <element name="LANGUAGE">
            <text />
        </element>
    </define>
    <define name="LASTCOME">
        <element name="LASTCOME">
            <text />
        </element>
    </define>
    <define name="LASTDATE">
        <element name="LASTDATE">
            <text />
        </element>
    </define>
    <define name="LASTLOGGEDUSER">
        <element name="LASTLOGGEDUSER">
            <text />
        </element>
    </define>
    <define name="LETTER">
        <element name="LETTER">
            <text />
        </element>
    </define>
    <define name="LOGDATE">
        <element name="LOGDATE">
            <text />
        </element>
    </define>
    <define name="LOGIN">
        <element name="LOGIN">
            <text />
        </element>
    </define>
    <define name="MACADDR">
        <element name="MACADDR">
            <text />
        </element>
    </define>
    <define name="MANUFACTURER">
        <element name="MANUFACTURER">
            <text />
        </element>
    </define>
    <define name="MEM">
        <element name="MEM">
            <text />
        </element>
    </define>
    <define name="MEMORY">
        <element name="MEMORY">
            <text />
        </element>
    </define>
    <define name="MODEL">
        <element name="MODEL">
            <text />
        </element>
    </define>
    <define name="NAME">
        <element name="NAME">
            <text />
        </element>
    </define>
    <define name="NOTE">
        <element name="NOTE">
            <text />
        </element>
    </define>
    <define name="NUMFILES">
        <element name="NUMFILES">
            <text />
        </element>
    </define>
    <define name="NUMSLOTS">
        <element name="NUMSLOTS">
            <text />
        </element>
    </define>
    <define name="OFFICEKEY">
        <element name="OFFICEKEY">
            <text />
        </element>
    </define>
    <define name="OFFICEVERSION">
        <element name="OFFICEVERSION">
            <text />
        </element>
    </define>
    <define name="OSCOMMENTS">
        <element name="OSCOMMENTS">
            <text />
        </element>
    </define>
    <define name="OSNAME">
        <element name="OSNAME">
            <text />
        </element>
    </define>
    <define name="OSVERSION">
        <element name="OSVERSION">
            <text />
        </element>
    </define>
    <define name="PCIID">
        <element name="PCIID">
            <text />
        </element>
    </define>
    <define name="PCISLOT">
        <element name="PCISLOT">
            <text />
        </element>
    </define>
    <define name="PID">
        <element name="PID">
            <text />
        </element>
    </define>
    <define name="POINTTYPE">
        <element name="POINTTYPE">
            <text />
        </element>
    </define>
    <define name="PORT">
        <element name="PORT">
            <text />
        </element>
    </define>
    <define name="PROCESSORN">
        <element name="PROCESSORN">
            <text />
        </element>
    </define>
    <define name="PROCESSORS">
        <element name="PROCESSORS">
            <text />
        </element>
    </define>
    <define name="PROCESSORT">
        <element name="PROCESSORT">
            <text />
        </element>
    </define>
    <define name="PRODUCT">
        <element name="PRODUCT">
            <text />
        </element>
    </define>
    <define name="PRODUCTID">
        <element name="PRODUCTID">
            <text />
        </element>
    </define>
    <define name="PUBLISHER">
        <element name="PUBLISHER">
            <text />
        </element>
    </define>
    <define name="PSHARE">
        <element name="PSHARE">
            <text />
        </element>
    </define>
    <define name="PURPOSE">
        <element name="PURPOSE">
            <text />
        </element>
    </define>
    <define name="REGVALUE">
        <element name="REGVALUE">
            <text />
        </element>
    </define>
    <define name="RESOLUTION">
        <element name="RESOLUTION">
            <text />
        </element>
    </define>
    <define name="SCSI_CHID">
        <element name="SCSI_CHID">
            <text />
        </element>
    </define>
    <define name="SCSI_COID">
        <element name="SCSI_COID">
            <text />
        </element>
    </define>
    <define name="SCSI_LUN">
        <element name="SCSI_LUN">
            <text />
        </element>
    </define>
    <define name="SCSI_UNID">
        <element name="SCSI_UNID">
            <text />
        </element>
    </define>
    <define name="SERIAL">
        <element name="SERIAL">
            <text />
        </element>
    </define>
    <define name="SERIALNUMBER">
        <element name="SERIALNUMBER">
            <text />
        </element>
    </define>
    <define name="SMANUFACTURER">
        <element name="SMANUFACTURER">
            <text />
        </element>
    </define>
    <define name="SMODEL">
        <element name="SMODEL">
            <text />
        </element>
    </define>
    <define name="SOURCE">
        <element name="SOURCE">
            <text />
        </element>
    </define>
    <define name="SPEED">
        <element name="SPEED">
            <text />
        </element>
    </define>
    <define name="SSN">
        <element name="SSN">
            <text />
        </element>
    </define>
    <define name="STARTED">
        <element name="STARTED">
            <text />
        </element>
    </define>
    <define name="STATUS">
        <element name="STATUS">
            <text />
        </element>
    </define>
    <define name="SUBSYSTEM">
        <element name="SUBSYSTEM">
            <text />
        </element>
    </define>
    <define name="SWAP">
        <element name="SWAP">
            <text />
        </element>
    </define>
    <define name="TOTAL">
        <element name="TOTAL">
            <text />
        </element>
    </define>
    <define name="TTY">
        <element name="TTY">
            <text />
        </element>
    </define>
    <define name="TYPE">
        <element name="TYPE">
            <text />
        </element>
    </define>
    <define name="TYPEMIB">
        <element name="TYPEMIB">
            <text />
        </element>
    </define>
    <define name="USER">
        <element name="USER">
            <text />
        </element>
    </define>
    <define name="USERDOMAIN">
        <element name="USERDOMAIN">
            <text />
        </element>
    </define>
    <define name="USERID">
        <element name="USERID">
            <text />
        </element>
    </define>
    <define name="UUENCODE">
        <element name="UUENCODE">
            <text />
        </element>
    </define>
    <define name="UUID">
        <element name="UUID">
            <text />
        </element>
    </define>
    <define name="VCPU">
        <element name="VCPU">
            <text />
        </element>
    </define>
    <define name="VERSION">
        <element name="VERSION">
            <text />
        </element>
    </define>
    <define name="VIRTUALDEV">
        <element name="VIRTUALDEV">
            <text />
        </element>
    </define>
    <define name="VIRTUALMEMORY">
        <element name="VIRTUALMEMORY">
            <text />
        </element>
    </define>
    <define name="VMID">
        <element name="VMID">
            <text />
        </element>
    </define>
    <define name="VMTYPE">
        <element name="VMTYPE">
            <text />
        </element>
    </define>
    <define name="VMSYSTEM">
        <element name="VMSYSTEM">
            <text />
        </element>
    </define>
    <define name="VOLUMN">
        <element name="VOLUMN">
            <text />
        </element>
    </define>
    <define name="WINCOMPANY">
        <element name="WINCOMPANY">
            <text />
        </element>
    </define>
    <define name="WINOWNER">
        <element name="WINOWNER">
            <text />
        </element>
    </define>
    <define name="WINPRODID">
        <element name="WINPRODID">
            <text />
        </element>
    </define>
    <define name="WINPRODKEY">
        <element name="WINPRODKEY">
            <text />
        </element>
    </define>
    <define name="WORKGROUP">
        <element name="WORKGROUP">
            <text />
        </element>
    </define>

</grammar>
