module/Protocol/data/RelaxNG/InventoryRequest.rng

<?xml version="1.0" encoding="UTF-8" ?>
<!--
RELAX NG schema for inventory requests and general inventory exchange

Copyright (C) 2011-2022 Holger Schletz <holger.schletz@web.de>

This program is free software; you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the Free
Software Foundation; either version 2 of the License, or (at your option)
any later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
more details.

You should have received a copy of the GNU General Public License along with
this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->

<!--
This schema defines the XML documents generated by agents and Braintacle's
export function. These documents contain all inventory data for a client.

The 'braintacle' namespace defines additional attributes which are purely
informational and not evaluated:

- braintacle:model is used for elements below 'CONTENT'. It is the name of a
  model class (relative to the Model\Client namespace) that handles the data
  represented by the element. It is used as a default for entire inventory
  sections and can be overridden for particular child elements if the data is
  handled by a different model than the rest of the section. If this attribute
  is not present for a section, it is not used by Braintacle.

- braintacle:format is the format of date/timestamp fields, using ISO 8601
  format strings.
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:braintacle="https://github.com/hschletz/Braintacle">
    <start>
        <!-- Root element -->
        <element name="REQUEST">
            <interleave>
                <!-- Main inventory section. -->
                <element name="CONTENT">
                    <interleave>
                        <zeroOrMore>
                            <ref name="ACCESSLOG" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="ACCOUNTINFO" />
                        </zeroOrMore>
                        <optional>
                            <ref name="BIOS" /><!-- May be missing if all empty -->
                        </optional>
                        <zeroOrMore>
                            <ref name="CONTROLLERS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="CPUS" />
                        </zeroOrMore>
                        <optional>
                            <ref name="DOWNLOAD" />
                        </optional>
                        <zeroOrMore>
                            <ref name="DRIVES" />
                        </zeroOrMore>
                        <ref name="HARDWARE" /><!-- Basic stuff, always present -->
                        <zeroOrMore>
                            <ref name="INPUTS" />
                        </zeroOrMore>
                        <optional>
                            <ref name="JAVAINFOS" /><!-- Provided by Android agent only -->
                        </optional>
                        <zeroOrMore>
                            <ref name="MEMORIES" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="MODEMS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="MONITORS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="NETWORKS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="OFFICEPACK" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="PORTS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="PRINTERS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="PROCESSES" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="REGISTRY" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="SIM" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="SLOTS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="SOFTWARES" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="SOUNDS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="STORAGES" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="USERS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="VIDEOS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="VIRTUALMACHINES" />
                        </zeroOrMore>
                    </interleave>
                </element>
                <!-- Additional elements -->
                <element name="DEVICEID">
                    <text />
                </element>
                <element name="QUERY">
                    <text />
                </element>
            </interleave>
        </element>
    </start>

   <!-- Inventory sections -->
    <define name="ACCESSLOG">
        <element name="ACCESSLOG"><!-- obsolete -->
            <interleave>
                <ref name="LOGDATE" />
                <ref name="USERID" />
            </interleave>
        </element>
    </define>
    <define name="ACCOUNTINFO">
        <element name="ACCOUNTINFO" braintacle:model="CustomFields">
            <interleave>
                <ref name="KEYNAME" />
                <ref name="KEYVALUE" />
            </interleave>
        </element>
    </define>
    <define name="BIOS">
        <element name="BIOS" braintacle:model="Client">
            <interleave>
                <optional>
                    <ref name="ASSETTAG" />
                </optional>
                <optional>
                    <ref name="BDATE" />
                </optional>
                <optional>
                    <ref name="BMANUFACTURER" />
                </optional>
                <optional>
                    <ref name="BVERSION" />
                </optional>
                <optional>
                    <ref name="MMANUFACTURER" />
                </optional>
                <optional>
                    <ref name="MMODEL" />
                </optional>
                <optional>
                    <ref name="MSN" />
                </optional>
                <optional>
                    <ref name="SMANUFACTURER" />
                </optional>
                <optional>
                    <ref name="SMODEL" />
                </optional>
                <optional>
                    <ref name="SSN" />
                </optional>
                <optional>
                    <ref name="TYPE" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="CONTROLLERS">
        <element name="CONTROLLERS" braintacle:model="Item\Controller">
            <interleave>
                <optional>
                    <ref name="CAPTION" />
                </optional>
                <optional>
                    <ref name="DESCRIPTION" />
                </optional>
                <optional>
                    <ref name="DRIVER" /><!-- not available in database -->
                </optional>
                <ref name="MANUFACTURER" />
                <ref name="NAME" />
                <optional>
                    <ref name="PCIID" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="PCISLOT" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="TYPE" />
                </optional>
                <optional>
                    <ref name="VERSION" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="CPUS">
        <element name="CPUS" braintacle:model="Cpu">
            <interleave>
                <optional>
                    <ref name="CORES" />
                </optional>
                <optional>
                    <ref name="CPUARCH" />
                </optional>
                <optional>
                    <ref name="CURRENT_SPEED" />
                </optional>
                <optional>
                    <ref name="DATA_WIDTH" />
                </optional>
                <optional>
                    <ref name="HPT" />
                </optional>
                <optional>
                    <ref name="L2CACHESIZE" />
                </optional>
                <ref name="MANUFACTURER" />
                <optional>
                    <ref name="SERIAL" /><!-- unused -->
                </optional>
                <optional>
                    <ref name="SERIALNUMBER" />
                </optional>
                <optional>
                    <ref name="SOCKET" />
                </optional>
                <optional>
                    <ref name="SPEED" />
                </optional>
                <ref name="TYPE" />
                <optional>
                    <ref name="VOLTAGE" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="DOWNLOAD">
        <element name="DOWNLOAD" braintacle:model="Client">
            <element name="HISTORY">
                <zeroOrMore>
                    <element name="PACKAGE">
                        <attribute name="ID" />
                    </element>
                </zeroOrMore>
            </element>
        </element>
    </define>
    <define name="DRIVES">
        <element name="DRIVES" braintacle:model="Item\Filesystem">
            <interleave>
                <optional>
                    <ref name="CREATEDATE" braintacle:format="yyyy/M/d HH:mm:ss" />
                </optional>
                <optional>
                    <ref name="FILESYSTEM" />
                </optional>
                <optional>
                    <ref name="FREE" />
                </optional>
                <optional>
                    <ref name="LABEL" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="LETTER" />
                </optional>
                <optional>
                    <ref name="NUMFILES" /><!-- obsolete -->
                </optional>
                <optional>
                    <ref name="SERIAL" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="TOTAL" />
                </optional>
                <optional>
                    <ref name="TYPE" />
                </optional>
                <optional>
                    <ref name="VOLUMN" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="HARDWARE">
        <element name="HARDWARE" braintacle:model="Client">
            <interleave>
                <optional>
                    <ref name="ARCH" />
                </optional>
                <optional>
                    <ref name="ARCHNAME" /><!-- not available in database -->
                </optional>
                <ref name="CHECKSUM" />
                <optional>
                    <ref name="DATELASTLOGGEDUSER" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="DEFAULTGATEWAY" />
                </optional>
                <optional>
                    <ref name="DESCRIPTION" />
                </optional>
                <optional>
                    <ref name="DNS" />
                </optional>
                <optional>
                    <ref name="ETIME" /><!-- obsolete -->
                </optional>
                <optional>
                    <ref name="IPADDR" />
                </optional>
                <optional>
                    <ref name="LASTCOME" braintacle:format="yyyy-MM-dd HH:mm:ss" /><!-- UTC -->
                </optional>
                <optional>
                    <ref name="LASTDATE" braintacle:format="yyyy-MM-dd HH:mm:ss" /><!-- UTC -->
                </optional>
                <optional>
                    <ref name="LASTLOGGEDUSER" /><!-- not available in database -->
                </optional>
                <ref name="MEMORY" />
                <ref name="NAME" />
                <optional>
                    <ref name="OSCOMMENTS" />
                </optional>
                <ref name="OSNAME" />
                <optional>
                    <ref name="OSVERSION" />
                </optional>
                <optional>
                    <ref name="PROCESSORN" />
                </optional>
                <optional>
                    <ref name="PROCESSORS" />
                </optional>
                <optional>
                    <ref name="PROCESSORT" />
                </optional>
                <ref name="SWAP" />
                <optional>
                    <ref name="TYPE" /><!-- Useless, always 0 or NULL. Omitted for possible confusion with bios.type. -->
                </optional>
                <optional>
                    <ref name="USERDOMAIN" braintacle:model="WindowsInstallation" />
                </optional>
                <optional>
                    <ref name="USERID" />
                </optional>
                <optional>
                    <ref name="UUID" />
                </optional>
                <optional>
                    <ref name="VMSYSTEM" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="WINCOMPANY" braintacle:model="WindowsInstallation" />
                </optional>
                <optional>
                    <ref name="WINOWNER" braintacle:model="WindowsInstallation" />
                </optional>
                <optional>
                    <ref name="WINPRODID" braintacle:model="WindowsInstallation" />
                </optional>
                <optional>
                    <ref name="WINPRODKEY" braintacle:model="WindowsInstallation" />
                </optional>
                <ref name="WORKGROUP" braintacle:model="WindowsInstallation" />
            </interleave>
        </element>
    </define>
    <define name="INPUTS">
        <element name="INPUTS" braintacle:model="Item\InputDevice">
            <interleave>
                <optional>
                    <ref name="CAPTION" />
                </optional>
                <optional>
                    <ref name="DESCRIPTION" />
                </optional>
                <optional>
                    <ref name="INTERFACE" />
                </optional>
                <optional>
                    <ref name="MANUFACTURER" />
                </optional>
                <optional>
                    <ref name="POINTTYPE" />
                </optional>
                <optional>
                    <ref name="TYPE" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="JAVAINFOS">
        <element name="JAVAINFOS">
            <interleave>
                <ref name="JAVACLASSPATH" />
                <ref name="JAVACOUNTRY" />
                <ref name="JAVAHOME" />
                <ref name="JAVANAME" />
                <optional>
                    <ref name="JAVAPATHLEVEL" /><!-- unused -->
                </optional>
            </interleave>
        </element>
    </define>
    <define name="MEMORIES">
        <element name="MEMORIES" braintacle:model="Item\MemorySlot">
            <interleave>
                <optional>
                    <ref name="CAPACITY" />
                </optional>
                <ref name="CAPTION" />
                <optional>
                    <ref name="DESCRIPTION" />
                </optional>
                <optional>
                    <ref name="MANUFACTURER" />
                </optional>
                <optional>
                    <ref name="NUMSLOTS" />
                </optional>
                <optional>
                    <ref name="PURPOSE" />
                </optional>
                <optional>
                    <ref name="SERIALNUMBER" />
                </optional>
                <optional>
                    <ref name="SPEED" />
                </optional>
                <ref name="TYPE" />
            </interleave>
        </element>
    </define>
    <define name="MODEMS">
        <element name="MODEMS" braintacle:model="Item\Modem">
            <interleave>
                <ref name="NAME" />
                <ref name="TYPE" />
                <optional>
                    <ref name="DESCRIPTION" /><!-- unused -->
                </optional>
                <optional>
                    <ref name="MODEL" /><!-- unused -->
                </optional>
            </interleave>
        </element>
    </define>
    <define name="MONITORS">
        <element name="MONITORS" braintacle:model="Item\Display">
            <interleave>
                <optional>
                    <ref name="BASE64" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="CAPTION" />
                </optional>
                <optional>
                    <ref name="DESCRIPTION" />
                </optional>
                <optional>
                    <ref name="MANUFACTURER" />
                </optional>
                <optional>
                    <ref name="SERIAL" />
                </optional>
                <optional>
                    <ref name="TYPE" />
                </optional>
                <optional>
                    <ref name="UUENCODE" /><!-- not available in database -->
                </optional>
            </interleave>
        </element>
    </define>
    <define name="NETWORKS">
        <element name="NETWORKS" braintacle:model="Item\NetworkInterface">
            <interleave>
                <ref name="DESCRIPTION" />
                <optional>
                    <ref name="DRIVER" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="IPADDRESS" />
                </optional>
                <optional>
                    <ref name="IPDHCP" />
                </optional>
                <optional>
                    <ref name="IPGATEWAY" />
                </optional>
                <optional>
                    <ref name="IPMASK" />
                </optional>
                <optional>
                    <ref name="IPSUBNET" />
                </optional>
                <ref name="MACADDR" />
                <optional>
                    <ref name="PCISLOT" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="SPEED" />
                </optional>
                <ref name="STATUS" />
                <ref name="TYPE" />
                <optional>
                    <ref name="TYPEMIB" />
                </optional>
                <optional>
                    <ref name="VIRTUALDEV" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="OFFICEPACK">
        <element name="OFFICEPACK" braintacle:model="Item\MsOfficeProduct">
            <interleave>
                <optional>
                    <ref name="GUID" />
                </optional>
                <ref name="INSTALL" />
                <optional>
                    <ref name="NOTE" />
                </optional>
                <optional>
                    <ref name="OFFICEKEY" />
                </optional>
                <ref name="OFFICEVERSION" />
                <ref name="PRODUCT" />
                <optional>
                    <ref name="PRODUCTID" />
                </optional>
                <ref name="TYPE" />
            </interleave>
        </element>
    </define>
    <define name="PORTS">
        <element name="PORTS" braintacle:model="Item\Port">
            <interleave>
                <optional>
                    <ref name="CAPTION" />
                </optional>
                <optional>
                    <ref name="DESCRIPTION" />
                </optional>
                <optional>
                    <ref name="NAME" />
                </optional>
                <optional>
                    <ref name="TYPE" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="PRINTERS">
        <element name="PRINTERS" braintacle:model="Item\Printer">
            <interleave>
                <optional>
                    <ref name="DESCRIPTION" />
                </optional>
                <optional>
                    <ref name="DRIVER" />
                </optional>
                <ref name="NAME" />
                <optional>
                    <ref name="PORT" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="PROCESSES">
        <element name="PROCESSES"><!-- not available in database -->
            <interleave>
                <ref name="CMD" />
                <ref name="CPUUSAGE" />
                <ref name="MEM" />
                <ref name="PID" />
                <ref name="STARTED" />
                <ref name="TTY" />
                <ref name="USER" />
                <ref name="VIRTUALMEMORY" />
            </interleave>
        </element>
    </define>
    <define name="REGISTRY">
        <element name="REGISTRY" braintacle:model="Item\RegistryData">
            <interleave>
                <ref name="NAME" />
                <ref name="REGVALUE" />
            </interleave>
        </element>
    </define>
    <define name="SIM">
        <element name="SIM" braintacle:model="Item\Sim">
            <interleave>
                <ref name="COUNTRY" />
                <ref name="DEVICEID" />
                <ref name="OPERATOR" />
                <ref name="OPNAME" />
                <ref name="SERIALNUMBER" />
            </interleave>
        </element>
    </define>
    <define name="SLOTS">
        <element name="SLOTS" braintacle:model="Item\ExtensionSlot">
            <interleave>
                <ref name="DESCRIPTION" />
                <optional>
                    <ref name="DESIGNATION" />
                </optional>
                <ref name="NAME" />
                <optional>
                    <ref name="PSHARE" /><!-- obsolete -->
                </optional>
                <optional>
                    <ref name="PURPOSE" />
                </optional>
                <optional>
                    <ref name="STATUS" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="SOFTWARES">
        <element name="SOFTWARES" braintacle:model="Item\Software">
            <interleave>
                <optional>
                    <ref name="BITSWIDTH" />
                </optional>
                <optional>
                    <ref name="COMMENTS" />
                </optional>
                <optional>
                    <ref name="FILENAME" />
                </optional>
                <optional>
                    <ref name="FILESIZE" />
                </optional>
                <optional>
                    <ref name="FOLDER" />
                </optional>
                <optional>
                    <ref name="FROM" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="GUID" />
                </optional>
                <optional>
                    <ref name="INSTALLDATE" braintacle:format="yyyy/MM/dd" />
                </optional>
                <optional>
                    <ref name="LANGUAGE" />
                </optional>
                <optional>
                    <ref name="NAME" />
                </optional>
                <optional>
                    <ref name="PUBLISHER" />
                </optional>
                <optional>
                    <ref name="SOURCE" />
                </optional>
                <optional>
                    <ref name="VERSION" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="SOUNDS">
        <element name="SOUNDS" braintacle:model="Item\AudioDevice">
            <interleave>
                <optional>
                    <ref name="DESCRIPTION" />
                </optional>
                <ref name="MANUFACTURER" />
                <ref name="NAME" />
            </interleave>
        </element>
    </define>
    <define name="STORAGES">
        <element name="STORAGES" braintacle:model="Item\StorageDevice">
            <interleave>
                <optional>
                    <ref name="DESCRIPTION" />
                </optional>
                <optional>
                    <ref name="DISKSIZE" />
                </optional>
                <optional>
                    <ref name="FIRMWARE" />
                </optional>
                <optional>
                    <ref name="MANUFACTURER" />
                </optional>
                <optional>
                    <ref name="MODEL" />
                </optional>
                <optional>
                    <ref name="NAME" />
                </optional>
                <optional>
                    <ref name="SCSI_CHID" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="SCSI_COID" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="SCSI_LUN" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="SCSI_UNID" /><!-- not available in database -->
                </optional>
                <optional>
                    <ref name="SERIALNUMBER" />
                </optional>
                <optional>
                    <ref name="TYPE" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="USERS">
        <element name="USERS"><!-- not available in database -->
            <ref name="LOGIN" />
        </element>
    </define>
    <define name="VIDEOS">
        <element name="VIDEOS" braintacle:model="Item\DisplayController">
            <interleave>
                <optional>
                    <ref name="CHIPSET" />
                </optional>
                <optional>
                    <ref name="MEMORY" />
                </optional>
                <ref name="NAME" />
                <optional>
                    <ref name="RESOLUTION" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="VIRTUALMACHINES">
        <element name="VIRTUALMACHINES" braintacle:model="Item\VirtualMachine">
            <interleave>
                <optional>
                    <ref name="MEMORY" />
                </optional>
                <ref name="NAME" />
                <ref name="STATUS" />
                <ref name="SUBSYSTEM" />
                <ref name="UUID" />
                <ref name="VCPU" />
                <optional>
                    <ref name="VMID" /><!-- not available in database -->
                </optional>
                <ref name="VMTYPE" />
            </interleave>
        </element>
    </define>

   <!-- Text elements -->
    <define name="ARCH">
        <element name="ARCH">
            <text />
        </element>
    </define>
    <define name="ARCHNAME">
        <element name="ARCHNAME">
            <text />
        </element>
    </define>
    <define name="ASSETTAG">
        <element name="ASSETTAG">
            <text />
        </element>
    </define>
    <define name="BASE64">
        <element name="BASE64">
            <text />
        </element>
    </define>
    <define name="BDATE">
        <element name="BDATE">
            <text />
        </element>
    </define>
    <define name="BITSWIDTH">
        <element name="BITSWIDTH">
            <text />
        </element>
    </define>
    <define name="BMANUFACTURER">
        <element name="BMANUFACTURER">
            <text />
        </element>
    </define>
    <define name="BVERSION">
        <element name="BVERSION">
            <text />
        </element>
    </define>
    <define name="CAPACITY">
        <element name="CAPACITY">
            <text />
        </element>
    </define>
    <define name="CAPTION">
        <element name="CAPTION">
            <text />
        </element>
    </define>
    <define name="CHECKSUM">
        <element name="CHECKSUM">
            <text />
        </element>
    </define>
    <define name="CHIPSET">
        <element name="CHIPSET">
            <text />
        </element>
    </define>
    <define name="CMD">
        <element name="CMD">
            <text />
        </element>
    </define>
    <define name="COMMENTS">
        <element name="COMMENTS">
            <text />
        </element>
    </define>
    <define name="CORES">
        <element name="CORES">
            <text />
        </element>
    </define>
    <define name="COUNTRY">
        <element name="COUNTRY">
            <text />
        </element>
    </define>
    <define name="CPUARCH">
        <element name="CPUARCH">
            <text />
        </element>
    </define>
    <define name="CPUUSAGE">
        <element name="CPUUSAGE">
            <text />
        </element>
    </define>
    <define name="CREATEDATE">
        <element name="CREATEDATE">
            <text />
        </element>
    </define>
    <define name="CURRENT_SPEED">
        <element name="CURRENT_SPEED">
            <text />
        </element>
    </define>
    <define name="DATA_WIDTH">
        <element name="DATA_WIDTH">
            <text />
        </element>
    </define>
    <define name="DATELASTLOGGEDUSER">
        <element name="DATELASTLOGGEDUSER">
            <text />
        </element>
    </define>
    <define name="DEFAULTGATEWAY">
        <element name="DEFAULTGATEWAY">
            <text />
        </element>
    </define>
    <define name="DESCRIPTION">
        <element name="DESCRIPTION">
            <text />
        </element>
    </define>
    <define name="DESIGNATION">
        <element name="DESIGNATION">
            <text />
        </element>
    </define>
    <define name="DEVICEID">
        <element name="DEVICEID">
            <text />
        </element>
    </define>
    <define name="DISKSIZE">
        <element name="DISKSIZE">
            <text />
        </element>
    </define>
    <define name="DNS">
        <element name="DNS">
            <text />
        </element>
    </define>
    <define name="DRIVER">
        <element name="DRIVER">
            <text />
        </element>
    </define>
    <define name="ETIME">
        <element name="ETIME">
            <text />
        </element>
    </define>
    <define name="FILENAME">
        <element name="FILENAME">
            <text />
        </element>
    </define>
    <define name="FILESIZE">
        <element name="FILESIZE">
            <text />
        </element>
    </define>
    <define name="FILESYSTEM">
        <element name="FILESYSTEM">
            <text />
        </element>
    </define>
    <define name="FIRMWARE">
        <element name="FIRMWARE">
            <text />
        </element>
    </define>
    <define name="FOLDER">
        <element name="FOLDER">
            <text />
        </element>
    </define>
    <define name="FREE">
        <element name="FREE">
            <text />
        </element>
    </define>
    <define name="FROM">
        <element name="FROM">
            <text />
        </element>
    </define>
    <define name="GUID">
        <element name="GUID">
            <text />
        </element>
    </define>
    <define name="HPT">
        <element name="HPT">
            <text />
        </element>
    </define>
    <define name="INSTALL">
        <element name="INSTALL">
            <text />
        </element>
    </define>
    <define name="INSTALLDATE">
        <element name="INSTALLDATE">
            <text />
        </element>
    </define>
    <define name="INTERFACE">
        <element name="INTERFACE">
            <text />
        </element>
    </define>
    <define name="IPADDR">
        <element name="IPADDR">
            <text />
        </element>
    </define>
    <define name="IPADDRESS">
        <element name="IPADDRESS">
            <text />
        </element>
    </define>
    <define name="IPDHCP">
        <element name="IPDHCP">
            <text />
        </element>
    </define>
    <define name="IPGATEWAY">
        <element name="IPGATEWAY">
            <text />
        </element>
    </define>
    <define name="IPMASK">
        <element name="IPMASK">
            <text />
        </element>
    </define>
    <define name="IPSUBNET">
        <element name="IPSUBNET">
            <text />
        </element>
    </define>
    <define name="JAVACLASSPATH">
        <element name="JAVACLASSPATH">
            <text />
        </element>
    </define>
    <define name="JAVACOUNTRY">
        <element name="JAVACOUNTRY">
            <text />
        </element>
    </define>
    <define name="JAVAHOME">
        <element name="JAVAHOME">
            <text />
        </element>
    </define>
    <define name="JAVANAME">
        <element name="JAVANAME">
            <text />
        </element>
    </define>
    <define name="JAVAPATHLEVEL">
        <element name="JAVAPATHLEVEL">
            <text />
        </element>
    </define>
    <define name="KEYNAME">
        <element name="KEYNAME">
            <text />
        </element>
    </define>
    <define name="KEYVALUE">
        <element name="KEYVALUE">
            <text />
        </element>
    </define>
    <define name="L2CACHESIZE">
        <element name="L2CACHESIZE">
            <text />
        </element>
    </define>
    <define name="LABEL">
        <element name="LABEL">
            <text />
        </element>
    </define>
    <define name="LANGUAGE">
        <element name="LANGUAGE">
            <text />
        </element>
    </define>
    <define name="LASTCOME">
        <element name="LASTCOME">
            <text />
        </element>
    </define>
    <define name="LASTDATE">
        <element name="LASTDATE">
            <text />
        </element>
    </define>
    <define name="LASTLOGGEDUSER">
        <element name="LASTLOGGEDUSER">
            <text />
        </element>
    </define>
    <define name="LETTER">
        <element name="LETTER">
            <text />
        </element>
    </define>
    <define name="LOGDATE">
        <element name="LOGDATE">
            <text />
        </element>
    </define>
    <define name="LOGIN">
        <element name="LOGIN">
            <text />
        </element>
    </define>
    <define name="MACADDR">
        <element name="MACADDR">
            <text />
        </element>
    </define>
    <define name="MANUFACTURER">
        <element name="MANUFACTURER">
            <text />
        </element>
    </define>
    <define name="MEM">
        <element name="MEM">
            <text />
        </element>
    </define>
    <define name="MEMORY">
        <element name="MEMORY">
            <text />
        </element>
    </define>
    <define name="MMANUFACTURER">
        <element name="MMANUFACTURER">
            <text />
        </element>
    </define>
    <define name="MMODEL">
        <element name="MMODEL">
            <text />
        </element>
    </define>
    <define name="MODEL">
        <element name="MODEL">
            <text />
        </element>
    </define>
    <define name="MSN">
        <element name="MSN">
            <text />
        </element>
    </define>
    <define name="NAME">
        <element name="NAME">
            <text />
        </element>
    </define>
    <define name="NOTE">
        <element name="NOTE">
            <text />
        </element>
    </define>
    <define name="NUMFILES">
        <element name="NUMFILES">
            <text />
        </element>
    </define>
    <define name="NUMSLOTS">
        <element name="NUMSLOTS">
            <text />
        </element>
    </define>
    <define name="OFFICEKEY">
        <element name="OFFICEKEY">
            <text />
        </element>
    </define>
    <define name="OFFICEVERSION">
        <element name="OFFICEVERSION">
            <text />
        </element>
    </define>
    <define name="OPERATOR">
        <element name="OPERATOR">
            <text />
        </element>
    </define>
    <define name="OPNAME">
        <element name="OPNAME">
            <text />
        </element>
    </define>
    <define name="OSCOMMENTS">
        <element name="OSCOMMENTS">
            <text />
        </element>
    </define>
    <define name="OSNAME">
        <element name="OSNAME">
            <text />
        </element>
    </define>
    <define name="OSVERSION">
        <element name="OSVERSION">
            <text />
        </element>
    </define>
    <define name="PCIID">
        <element name="PCIID">
            <text />
        </element>
    </define>
    <define name="PCISLOT">
        <element name="PCISLOT">
            <text />
        </element>
    </define>
    <define name="PID">
        <element name="PID">
            <text />
        </element>
    </define>
    <define name="POINTTYPE">
        <element name="POINTTYPE">
            <text />
        </element>
    </define>
    <define name="PORT">
        <element name="PORT">
            <text />
        </element>
    </define>
    <define name="PROCESSORN">
        <element name="PROCESSORN">
            <text />
        </element>
    </define>
    <define name="PROCESSORS">
        <element name="PROCESSORS">
            <text />
        </element>
    </define>
    <define name="PROCESSORT">
        <element name="PROCESSORT">
            <text />
        </element>
    </define>
    <define name="PRODUCT">
        <element name="PRODUCT">
            <text />
        </element>
    </define>
    <define name="PRODUCTID">
        <element name="PRODUCTID">
            <text />
        </element>
    </define>
    <define name="PUBLISHER">
        <element name="PUBLISHER">
            <text />
        </element>
    </define>
    <define name="PSHARE">
        <element name="PSHARE">
            <text />
        </element>
    </define>
    <define name="PURPOSE">
        <element name="PURPOSE">
            <text />
        </element>
    </define>
    <define name="REGVALUE">
        <element name="REGVALUE">
            <text />
        </element>
    </define>
    <define name="RESOLUTION">
        <element name="RESOLUTION">
            <text />
        </element>
    </define>
    <define name="SCSI_CHID">
        <element name="SCSI_CHID">
            <text />
        </element>
    </define>
    <define name="SCSI_COID">
        <element name="SCSI_COID">
            <text />
        </element>
    </define>
    <define name="SCSI_LUN">
        <element name="SCSI_LUN">
            <text />
        </element>
    </define>
    <define name="SCSI_UNID">
        <element name="SCSI_UNID">
            <text />
        </element>
    </define>
    <define name="SERIAL">
        <element name="SERIAL">
            <text />
        </element>
    </define>
    <define name="SERIALNUMBER">
        <element name="SERIALNUMBER">
            <text />
        </element>
    </define>
    <define name="SMANUFACTURER">
        <element name="SMANUFACTURER">
            <text />
        </element>
    </define>
    <define name="SMODEL">
        <element name="SMODEL">
            <text />
        </element>
    </define>
    <define name="SOCKET">
        <element name="SOCKET">
            <text />
        </element>
    </define>
    <define name="SOURCE">
        <element name="SOURCE">
            <text />
        </element>
    </define>
    <define name="SPEED">
        <element name="SPEED">
            <text />
        </element>
    </define>
    <define name="SSN">
        <element name="SSN">
            <text />
        </element>
    </define>
    <define name="STARTED">
        <element name="STARTED">
            <text />
        </element>
    </define>
    <define name="STATUS">
        <element name="STATUS">
            <text />
        </element>
    </define>
    <define name="SUBSYSTEM">
        <element name="SUBSYSTEM">
            <text />
        </element>
    </define>
    <define name="SWAP">
        <element name="SWAP">
            <text />
        </element>
    </define>
    <define name="TOTAL">
        <element name="TOTAL">
            <text />
        </element>
    </define>
    <define name="TTY">
        <element name="TTY">
            <text />
        </element>
    </define>
    <define name="TYPE">
        <element name="TYPE">
            <text />
        </element>
    </define>
    <define name="TYPEMIB">
        <element name="TYPEMIB">
            <text />
        </element>
    </define>
    <define name="USER">
        <element name="USER">
            <text />
        </element>
    </define>
    <define name="USERDOMAIN">
        <element name="USERDOMAIN">
            <text />
        </element>
    </define>
    <define name="USERID">
        <element name="USERID">
            <text />
        </element>
    </define>
    <define name="UUENCODE">
        <element name="UUENCODE">
            <text />
        </element>
    </define>
    <define name="UUID">
        <element name="UUID">
            <text />
        </element>
    </define>
    <define name="VCPU">
        <element name="VCPU">
            <text />
        </element>
    </define>
    <define name="VERSION">
        <element name="VERSION">
            <text />
        </element>
    </define>
    <define name="VIRTUALDEV">
        <element name="VIRTUALDEV">
            <text />
        </element>
    </define>
    <define name="VIRTUALMEMORY">
        <element name="VIRTUALMEMORY">
            <text />
        </element>
    </define>
    <define name="VMID">
        <element name="VMID">
            <text />
        </element>
    </define>
    <define name="VMTYPE">
        <element name="VMTYPE">
            <text />
        </element>
    </define>
    <define name="VMSYSTEM">
        <element name="VMSYSTEM">
            <text />
        </element>
    </define>
    <define name="VOLTAGE">
        <element name="VOLTAGE">
            <text />
        </element>
    </define>
    <define name="VOLUMN">
        <element name="VOLUMN">
            <text />
        </element>
    </define>
    <define name="WINCOMPANY">
        <element name="WINCOMPANY">
            <text />
        </element>
    </define>
    <define name="WINOWNER">
        <element name="WINOWNER">
            <text />
        </element>
    </define>
    <define name="WINPRODID">
        <element name="WINPRODID">
            <text />
        </element>
    </define>
    <define name="WINPRODKEY">
        <element name="WINPRODKEY">
            <text />
        </element>
    </define>
    <define name="WORKGROUP">
        <element name="WORKGROUP">
            <text />
        </element>
    </define>

</grammar>
