xml/InventoryRequest.rng

<?xml version="1.0" encoding="UTF-8" ?>
<!--
RELAX NG schema for inventory requests and general inventory exchange

$Id$

Copyright (C) 2011 Holger Schletz <holger.schletz@web.de>

This program is free software; you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the Free
Software Foundation; either version 2 of the License, or (at your option)
any later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
more details.

You should have received a copy of the GNU General Public License along with
this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->
<!--
This schema defines the XML documents generated by OCS Inventory Agents and
Braintacle's export function. These documents contain all inventory data for a
computer and are suitable for all kinds of inventory data exchange, including
import/export.
The definition is different from the DTD that ships with OCS Inventory. The DTD
is outdated and lacks definitions for many elements that are used by modern
agents. This schema aims to be a complete definition for all types of inventory
data to be found in the wild.
Some definitions may be more strict than necessary, i.e. many optional elements
are defined to be mandatory. There is no official documentation for this except
for the incomplete DTD. In theory, most elements could be marked optional, but
that would unnecessarily mess up the schema where the affected elements are
effectively always present in the wild. Too strict definitions will be loosened
in the future where necessary.
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
    <start>
        <!-- Root element -->
        <element name="REQUEST">
            <interleave>
                <!-- Main inventory section. -->
                <element name="CONTENT">
                    <interleave>
                        <zeroOrMore>
                            <ref name="ACCESSLOG" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="ACCOUNTINFO" />
                        </zeroOrMore>
                        <ref name="BIOS" /><!-- Assumed to be always present -->
                        <zeroOrMore>
                            <ref name="CONTROLLERS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="CPUS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="DRIVES" />
                        </zeroOrMore>
                        <ref name="HARDWARE" /><!-- Basic stuff, always present -->
                        <zeroOrMore>
                            <ref name="INPUTS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="MEMORIES" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="MONITORS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="NETWORKS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="PORTS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="PRINTERS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="PROCESSES" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="REGISTRY" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="SLOTS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="SOFTWARES" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="SOUNDS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="STORAGES" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="USERS" />
                        </zeroOrMore>
                        <zeroOrMore>
                            <ref name="VIDEOS" />
                        </zeroOrMore>
                    </interleave>
                </element>
                <!-- Additional elements -->
                <element name="DEVICEID">
                    <text />
                </element>
                <element name="QUERY">
                    <text />
                </element>
            </interleave>
        </element>
    </start>

   <!-- Inventory sections -->
    <define name="ACCESSLOG">
        <element name="ACCESSLOG">
            <interleave>
                <ref name="LOGDATE" />
                <ref name="USERID" />
            </interleave>
        </element>
    </define>
    <define name="ACCOUNTINFO">
        <element name="ACCOUNTINFO">
            <interleave>
                <ref name="KEYNAME" />
                <ref name="KEYVALUE" />
            </interleave>
        </element>
    </define>
    <define name="BIOS">
        <element name="BIOS">
            <interleave>
                <ref name="ASSETTAG" />
                <ref name="BDATE" />
                <ref name="BMANUFACTURER" />
                <ref name="BVERSION" />
                <ref name="SMANUFACTURER" />
                <ref name="SMODEL" />
                <ref name="SSN" />
                <optional>
                    <ref name="TYPE" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="CONTROLLERS">
        <element name="CONTROLLERS">
            <interleave>
                <optional>
                    <ref name="CAPTION" />
                </optional>
                <optional>
                    <ref name="DESCRIPTION" />
                </optional>
                <optional>
                    <ref name="DRIVER" />
                </optional>
                <ref name="NAME" />
                <ref name="MANUFACTURER" />
                <optional>
                    <ref name="PCIID" />
                </optional>
                <optional>
                    <ref name="PCISLOT" />
                </optional>
                <ref name="TYPE" />
                <optional>
                    <ref name="VERSION" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="CPUS">
        <element name="CPUS">
            <interleave>
                <ref name="MANUFACTURER" />
                <ref name="SERIAL" />
                <ref name="SPEED" />
                <ref name="TYPE" />
            </interleave>
        </element>
    </define>
    <define name="DRIVES">
        <element name="DRIVES">
            <interleave>
                <optional>
                    <ref name="CREATEDATE" />
                </optional>
                <ref name="FILESYSTEM" />
                <ref name="FREE" />
                <optional>
                    <ref name="LABEL" />
                </optional>
                <optional>
                    <ref name="LETTER" />
                </optional>
                <optional>
                    <ref name="NUMFILES" />
                </optional>
                <optional>
                    <ref name="SERIAL" />
                </optional>
                <ref name="TOTAL" />
                <ref name="TYPE" />
                <ref name="VOLUMN" />
            </interleave>
        </element>
    </define>
    <define name="HARDWARE">
        <element name="HARDWARE">
            <interleave>
                <optional>
                    <ref name="ARCHNAME" />
                </optional>
                <ref name="CHECKSUM" />
                <optional>
                    <ref name="DATELASTLOGGEDUSER" />
                </optional>
                <optional>
                    <ref name="DEFAULTGATEWAY" />
                </optional>
                <ref name="DESCRIPTION" />
                <optional>
                    <ref name="DNS" />
                </optional>
                <ref name="ETIME" />
                <ref name="IPADDR" />
                <optional>
                    <ref name="LASTDATE" />
                </optional>
                <ref name="LASTLOGGEDUSER" />
                <ref name="MEMORY" />
                <ref name="NAME" />
                <ref name="OSCOMMENTS" />
                <ref name="OSNAME" />
                <ref name="OSVERSION" />
                <ref name="PROCESSORN" />
                <ref name="PROCESSORS" />
                <ref name="PROCESSORT" />
                <ref name="SWAP" />
                <optional>
                    <ref name="TYPE" />
                </optional>
                <optional>
                    <ref name="USERDOMAIN" />
                </optional>
                <ref name="USERID" />
                <ref name="UUID" />
                <ref name="VMSYSTEM" />
                <optional>
                    <ref name="WINCOMPANY" />
                </optional>
                <optional>
                    <ref name="WINOWNER" />
                </optional>
                <optional>
                    <ref name="WINPRODID" />
                </optional>
                <optional>
                    <ref name="WINPRODKEY" />
                </optional>
                <ref name="WORKGROUP" />
            </interleave>
        </element>
    </define>
    <define name="INPUTS">
        <element name="INPUTS">
            <interleave>
                <ref name="CAPTION" />
                <ref name="DESCRIPTION" />
                <ref name="INTERFACE" />
                <ref name="MANUFACTURER" />
                <ref name="POINTTYPE" />
                <ref name="TYPE" />
            </interleave>
        </element>
    </define>
    <define name="MODEMS">
        <element name="MODEMS">
            <interleave>
                <ref name="DESCRIPTION" />
                <ref name="MODEL" />
                <ref name="NAME" />
                <ref name="TYPE" />
            </interleave>
        </element>
    </define>
    <define name="MONITORS">
        <element name="MONITORS">
            <interleave>
                <ref name="CAPTION" />
                <ref name="DESCRIPTION" />
                <ref name="MANUFACTURER" />
                <ref name="SERIAL" />
                <ref name="TYPE" />
            </interleave>
        </element>
    </define>
    <define name="MEMORIES">
        <element name="MEMORIES">
            <interleave>
                <ref name="CAPACITY" />
                <ref name="CAPTION" />
                <ref name="DESCRIPTION" />
                <ref name="NUMSLOTS" />
                <ref name="PURPOSE" />
                <optional>
                    <ref name="SERIALNUMBER" />
                </optional>
                <ref name="SPEED" />
                <ref name="TYPE" />
            </interleave>
        </element>
    </define>
    <define name="NETWORKS">
        <element name="NETWORKS">
            <interleave>
                <optional>
                    <ref name="DRIVER" />
                </optional>
                <ref name="DESCRIPTION" />
                <ref name="IPADDRESS" />
                <ref name="IPDHCP" />
                <ref name="IPGATEWAY" />
                <ref name="IPMASK" />
                <ref name="IPSUBNET" />
                <ref name="MACADDR" />
                <optional>
                    <ref name="PCISLOT" />
                </optional>
                <optional>
                    <ref name="SPEED" />
                </optional>
                <ref name="STATUS" />
                <ref name="TYPE" />
                <optional>
                    <ref name="TYPEMIB" />
                </optional>
                <optional>
                    <ref name="VIRTUALDEV" />
                </optional>
            </interleave>
        </element>
    </define>
    <define name="PORTS">
        <element name="PORTS">
            <interleave>
                <ref name="CAPTION" />
                <ref name="DESCRIPTION" />
                <ref name="NAME" />
                <ref name="TYPE" />
            </interleave>
        </element>
    </define>
    <define name="PRINTERS">
        <element name="PRINTERS">
            <interleave>
                <ref name="DESCRIPTION" />
                <ref name="DRIVER" />
                <ref name="NAME" />
                <ref name="PORT" />
            </interleave>
        </element>
    </define>
    <define name="PROCESSES">
        <element name="PROCESSES">
            <interleave>
                <ref name="CMD" />
                <ref name="CPUUSAGE" />
                <ref name="MEM" />
                <ref name="PID" />
                <ref name="STARTED" />
                <ref name="TTY" />
                <ref name="USER" />
                <ref name="VIRTUALMEMORY" />
            </interleave>
        </element>
    </define>
    <define name="REGISTRY">
        <element name="REGISTRY">
            <interleave>
                <ref name="NAME" />
                <ref name="REGVALUE" />
            </interleave>
        </element>
    </define>
    <define name="SLOTS">
        <element name="SLOTS">
            <interleave>
                <ref name="DESCRIPTION" />
                <ref name="DESIGNATION" />
                <ref name="NAME" />
                <ref name="PSHARE" />
                <ref name="PURPOSE" />
                <ref name="STATUS" />
            </interleave>
        </element>
    </define>
    <define name="SOFTWARES">
        <element name="SOFTWARES">
            <interleave>
                <optional>
                    <ref name="BITSWIDTH" />
                </optional>
                <ref name="COMMENTS" />
                <optional>
                    <ref name="FILENAME" />
                </optional>
                <ref name="FILESIZE" />
                <ref name="FOLDER" />
                <optional>
                    <ref name="FROM" />
                </optional>
                <optional>
                    <ref name="GUID" />
                </optional>
                <ref name="INSTALLDATE" />
                <optional>
                    <ref name="LANGUAGE" />
                </optional>
                <ref name="NAME" />
                <ref name="PUBLISHER" />
                <optional>
                    <ref name="SOURCE" />
                </optional>
                <ref name="VERSION" />
            </interleave>
        </element>
    </define>
    <define name="SOUNDS">
        <element name="SOUNDS">
            <interleave>
                <ref name="DESCRIPTION" />
                <ref name="NAME" />
                <ref name="MANUFACTURER" />
            </interleave>
        </element>
    </define>
    <define name="STORAGES">
        <element name="STORAGES">
            <interleave>
                <ref name="DESCRIPTION" />
                <ref name="DISKSIZE" />
                <ref name="FIRMWARE" />
                <ref name="NAME" />
                <ref name="MANUFACTURER" />
                <ref name="MODEL" />
                <optional>
                    <ref name="SCSI_CHID" />
                </optional>
                <optional>
                    <ref name="SCSI_COID" />
                </optional>
                <optional>
                    <ref name="SCSI_LUN" />
                </optional>
                <optional>
                    <ref name="SCSI_UNID" />
                </optional>
                <ref name="SERIALNUMBER" />
                <ref name="TYPE" />
            </interleave>
        </element>
    </define>
    <define name="USERS">
        <element name="USERS">
            <ref name="LOGIN" />
        </element>
    </define>
    <define name="VIDEOS">
        <element name="VIDEOS">
            <interleave>
                <ref name="CHIPSET" />
                <ref name="MEMORY" />
                <ref name="NAME" />
                <ref name="RESOLUTION" />
            </interleave>
        </element>
    </define>

   <!-- Text elements -->
    <define name="ARCHNAME">
        <element name="ARCHNAME">
            <text />
        </element>
    </define>
    <define name="ASSETTAG">
        <element name="ASSETTAG">
            <text />
        </element>
    </define>
    <define name="BDATE">
        <element name="BDATE">
            <text />
        </element>
    </define>
    <define name="BITSWIDTH">
        <element name="BITSWIDTH">
            <text />
        </element>
    </define>
    <define name="BMANUFACTURER">
        <element name="BMANUFACTURER">
            <text />
        </element>
    </define>
    <define name="BVERSION">
        <element name="BVERSION">
            <text />
        </element>
    </define>
    <define name="CAPACITY">
        <element name="CAPACITY">
            <text />
        </element>
    </define>
    <define name="CAPTION">
        <element name="CAPTION">
            <text />
        </element>
    </define>
    <define name="CHECKSUM">
        <element name="CHECKSUM">
            <text />
        </element>
    </define>
    <define name="CHIPSET">
        <element name="CHIPSET">
            <text />
        </element>
    </define>
    <define name="CMD">
        <element name="CMD">
            <text />
        </element>
    </define>
    <define name="COMMENTS">
        <element name="COMMENTS">
            <text />
        </element>
    </define>
    <define name="CPUUSAGE">
        <element name="CPUUSAGE">
            <text />
        </element>
    </define>
    <define name="CREATEDATE">
        <element name="CREATEDATE">
            <text />
        </element>
    </define>
    <define name="DATELASTLOGGEDUSER">
        <element name="DATELASTLOGGEDUSER">
            <text />
        </element>
    </define>
    <define name="DEFAULTGATEWAY">
        <element name="DEFAULTGATEWAY">
            <text />
        </element>
    </define>
    <define name="DESCRIPTION">
        <element name="DESCRIPTION">
            <text />
        </element>
    </define>
    <define name="DESIGNATION">
        <element name="DESIGNATION">
            <text />
        </element>
    </define>
    <define name="DISKSIZE">
        <element name="DISKSIZE">
            <text />
        </element>
    </define>
    <define name="DNS">
        <element name="DNS">
            <text />
        </element>
    </define>
    <define name="DRIVER">
        <element name="DRIVER">
            <text />
        </element>
    </define>
    <define name="ETIME">
        <element name="ETIME">
            <text />
        </element>
    </define>
    <define name="FILENAME">
        <element name="FILENAME">
            <text />
        </element>
    </define>
    <define name="FILESIZE">
        <element name="FILESIZE">
            <text />
        </element>
    </define>
    <define name="FILESYSTEM">
        <element name="FILESYSTEM">
            <text />
        </element>
    </define>
    <define name="FIRMWARE">
        <element name="FIRMWARE">
            <text />
        </element>
    </define>
    <define name="FOLDER">
        <element name="FOLDER">
            <text />
        </element>
    </define>
    <define name="FREE">
        <element name="FREE">
            <text />
        </element>
    </define>
    <define name="FROM">
        <element name="FROM">
            <text />
        </element>
    </define>
    <define name="GUID">
        <element name="GUID">
            <text />
        </element>
    </define>
    <define name="INTERFACE">
        <element name="INTERFACE">
            <text />
        </element>
    </define>
    <define name="INSTALLDATE">
        <element name="INSTALLDATE">
            <text />
        </element>
    </define>
    <define name="IPADDR">
        <element name="IPADDR">
            <text />
        </element>
    </define>
    <define name="IPADDRESS">
        <element name="IPADDRESS">
            <text />
        </element>
    </define>
    <define name="IPDHCP">
        <element name="IPDHCP">
            <text />
        </element>
    </define>
    <define name="IPGATEWAY">
        <element name="IPGATEWAY">
            <text />
        </element>
    </define>
    <define name="IPMASK">
        <element name="IPMASK">
            <text />
        </element>
    </define>
    <define name="IPSUBNET">
        <element name="IPSUBNET">
            <text />
        </element>
    </define>
    <define name="KEYNAME">
        <element name="KEYNAME">
            <text />
        </element>
    </define>
    <define name="KEYVALUE">
        <element name="KEYVALUE">
            <text />
        </element>
    </define>
    <define name="LABEL">
        <element name="LABEL">
            <text />
        </element>
    </define>
    <define name="LANGUAGE">
        <element name="LANGUAGE">
            <text />
        </element>
    </define>
    <define name="LASTDATE">
        <element name="LASTDATE">
            <text />
        </element>
    </define>
    <define name="LASTLOGGEDUSER">
        <element name="LASTLOGGEDUSER">
            <text />
        </element>
    </define>
    <define name="LETTER">
        <element name="LETTER">
            <text />
        </element>
    </define>
    <define name="LOGDATE">
        <element name="LOGDATE">
            <text />
        </element>
    </define>
    <define name="LOGIN">
        <element name="LOGIN">
            <text />
        </element>
    </define>
    <define name="MACADDR">
        <element name="MACADDR">
            <text />
        </element>
    </define>
    <define name="MANUFACTURER">
        <element name="MANUFACTURER">
            <text />
        </element>
    </define>
    <define name="MEM">
        <element name="MEM">
            <text />
        </element>
    </define>
    <define name="MEMORY">
        <element name="MEMORY">
            <text />
        </element>
    </define>
    <define name="MODEL">
        <element name="MODEL">
            <text />
        </element>
    </define>
    <define name="NAME">
        <element name="NAME">
            <text />
        </element>
    </define>
    <define name="NUMFILES">
        <element name="NUMFILES">
            <text />
        </element>
    </define>
    <define name="NUMSLOTS">
        <element name="NUMSLOTS">
            <text />
        </element>
    </define>
    <define name="OSCOMMENTS">
        <element name="OSCOMMENTS">
            <text />
        </element>
    </define>
    <define name="OSNAME">
        <element name="OSNAME">
            <text />
        </element>
    </define>
    <define name="OSVERSION">
        <element name="OSVERSION">
            <text />
        </element>
    </define>
    <define name="PCIID">
        <element name="PCIID">
            <text />
        </element>
    </define>
    <define name="PCISLOT">
        <element name="PCISLOT">
            <text />
        </element>
    </define>
    <define name="PID">
        <element name="PID">
            <text />
        </element>
    </define>
    <define name="POINTTYPE">
        <element name="POINTTYPE">
            <text />
        </element>
    </define>
    <define name="PORT">
        <element name="PORT">
            <text />
        </element>
    </define>
    <define name="PROCESSORN">
        <element name="PROCESSORN">
            <text />
        </element>
    </define>
    <define name="PROCESSORS">
        <element name="PROCESSORS">
            <text />
        </element>
    </define>
    <define name="PROCESSORT">
        <element name="PROCESSORT">
            <text />
        </element>
    </define>
    <define name="PUBLISHER">
        <element name="PUBLISHER">
            <text />
        </element>
    </define>
    <define name="PSHARE">
        <element name="PSHARE">
            <text />
        </element>
    </define>
    <define name="PURPOSE">
        <element name="PURPOSE">
            <text />
        </element>
    </define>
    <define name="REGVALUE">
        <element name="REGVALUE">
            <text />
        </element>
    </define>
    <define name="RESOLUTION">
        <element name="RESOLUTION">
            <text />
        </element>
    </define>
    <define name="SCSI_CHID">
        <element name="SCSI_CHID">
            <text />
        </element>
    </define>
    <define name="SCSI_COID">
        <element name="SCSI_COID">
            <text />
        </element>
    </define>
    <define name="SCSI_LUN">
        <element name="SCSI_LUN">
            <text />
        </element>
    </define>
    <define name="SCSI_UNID">
        <element name="SCSI_UNID">
            <text />
        </element>
    </define>
    <define name="SERIAL">
        <element name="SERIAL">
            <text />
        </element>
    </define>
    <define name="SERIALNUMBER">
        <element name="SERIALNUMBER">
            <text />
        </element>
    </define>
    <define name="SMANUFACTURER">
        <element name="SMANUFACTURER">
            <text />
        </element>
    </define>
    <define name="SMODEL">
        <element name="SMODEL">
            <text />
        </element>
    </define>
    <define name="SOURCE">
        <element name="SOURCE">
            <text />
        </element>
    </define>
    <define name="SPEED">
        <element name="SPEED">
            <text />
        </element>
    </define>
    <define name="SSN">
        <element name="SSN">
            <text />
        </element>
    </define>
    <define name="STARTED">
        <element name="STARTED">
            <text />
        </element>
    </define>
    <define name="STATUS">
        <element name="STATUS">
            <text />
        </element>
    </define>
    <define name="SWAP">
        <element name="SWAP">
            <text />
        </element>
    </define>
    <define name="TOTAL">
        <element name="TOTAL">
            <text />
        </element>
    </define>
    <define name="TTY">
        <element name="TTY">
            <text />
        </element>
    </define>
    <define name="TYPE">
        <element name="TYPE">
            <text />
        </element>
    </define>
    <define name="TYPEMIB">
        <element name="TYPEMIB">
            <text />
        </element>
    </define>
    <define name="USER">
        <element name="USER">
            <text />
        </element>
    </define>
    <define name="USERDOMAIN">
        <element name="USERDOMAIN">
            <text />
        </element>
    </define>
    <define name="USERID">
        <element name="USERID">
            <text />
        </element>
    </define>
    <define name="UUID">
        <element name="UUID">
            <text />
        </element>
    </define>
    <define name="VERSION">
        <element name="VERSION">
            <text />
        </element>
    </define>
    <define name="VIRTUALDEV">
        <element name="VIRTUALDEV">
            <text />
        </element>
    </define>
    <define name="VIRTUALMEMORY">
        <element name="VIRTUALMEMORY">
            <text />
        </element>
    </define>
    <define name="VMSYSTEM">
        <element name="VMSYSTEM">
            <text />
        </element>
    </define>
    <define name="VOLUMN">
        <element name="VOLUMN">
            <text />
        </element>
    </define>
    <define name="WINCOMPANY">
        <element name="WINCOMPANY">
            <text />
        </element>
    </define>
    <define name="WINOWNER">
        <element name="WINOWNER">
            <text />
        </element>
    </define>
    <define name="WINPRODID">
        <element name="WINPRODID">
            <text />
        </element>
    </define>
    <define name="WINPRODKEY">
        <element name="WINPRODKEY">
            <text />
        </element>
    </define>
    <define name="WORKGROUP">
        <element name="WORKGROUP">
            <text />
        </element>
    </define>

</grammar>
